*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #000;
}

*:focus {
    text-decoration: dotted;
}

/* Showcase */
.photo {
    width: 100%;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: content-box;
    flex-wrap: wrap;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
}

.header_microsoft {
    display: block;
    padding: 16px 6px 16px 10px;
    width: 121px;
    height: 22px;
}

.header_img {
    box-sizing: border-box;
    display: block;
    height: 23px;
    margin-top: -3px;
    width: 108px;
}

a.header_link {
    display: inline;
    padding: 17px 9px 11px 19px;
}

a.header_link:hover {
    text-decoration: underline;
}

/* Our products */
.our_products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 12px;
}

.card {
    margin: 24px 16px;
}

.card a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
}

.card img {
    width: 40px;
}
